<html>
<head>

</head>
<body>
<h1>All Employee list</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Gender</th>
        <th colspan="2">action</th>
    </tr>
    <% results.forEach(function (emp) { %>
        <tr><td><%= emp.empId %></td>
            <td><%= emp.Name %></td>
            <td><%= emp.Phone %></td>
            <td><%= emp.gender %></td>
            <td colspan="2"><a href="/admin/update/<%= emp.empId %>">Update</a> | <a href="/admin/delete/<%= emp.empId %>">Delete</a></td></tr>
    <% }) %>
</table>

<a href="/logout">Logout</a>
</body>
</html>
